<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}"></title>
</head>
<body>
    <h1 th:text="${person.getName()}"></h1>
    <h1 th:text="${person.getBirth_year()}"></h1>
    <a href="/people">Назад</a>

    <hr>
    <div th:if="${#lists.isEmpty(books)}">
        <b>Человек не взял ни одной книги</b>
    </div>
    <div th:if="${not #lists.isEmpty(books)}" >
        <b>Книги:</b>
        <div th:each="book, iter : ${books}">
            <p th:if="${book.isOverdue()}" style="color: red" th:text="${iter.count} + '. ' + ${book.getTitle()}"></p>
            <p th:if="${not book.isOverdue()}" th:text="${iter.count} + '.. ' + ${book.getTitle()}"></p>
        </div>
    </div>
    <hr>
    <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать</a>

    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Удалить">
    </form>
</body>
</html>