<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="Edit + ' ' + ${book.getTitle()}"></title>
</head>
<body>
<form th:method="PATCH" th:object="${book}" th:action="@{/books/{id}(id=${book.getId()})}">
    <label for="name">Название: </label>
    <input type="text" id="name" th:field="*{title}"/>
    <br>
    <label for="author_name">Имя автора: </label>
    <input type="text" id="author_name" th:field="*{author_name}"/>
    <br>
    <label for="year">Год выпуска: </label>
    <input type="text" id="year" th:field="*{year}"/>
    <br>
    <input type="submit" value="Обновить">
</form>
</body>
</html>