<!DOCTYPE html>
<html lang="en"> <!--xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getTitle()}" ></title>
</head>
<body>
    <p th:text="${book.getTitle()}"></p>
    <p th:text="${book.getAuthor_name()}"></p>
    <p th:text="${book.getYear()}"></p>

<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getName()}">Person name</span>
    <span th:if="${book.isOverdue()}" style="color:red">  (Книга просрочена)</span>

    <form th:method="PATCH" th:action="@{/books/{id}/release (id=${book.getId()})}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>

<div th:if="${people}">
    <span>Эта книга свободна. Кому её назначить? </span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign (id=${book.getId()})}">
        <label for="person">Выберите человека: </label>
        <select th:object="${person}"  th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>
    <hr>
    <br>
    <a th:href="@{/books/{id}/edit(id=${book.getId()})}">Редактировать</a>

    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Удалить книгу">
    </form>
</body>
</html>